canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
	margin: 0;
	padding: 0;
}

body {
	background: black;
	color: #bdbdbd;
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
    padding: 0 25px 0 25px;
    margin: 0;
}

main {
    margin-top: 20vh;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 200;
    position: relative;
    z-index: 1;
}

body.hide-main-text {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.hide-main-text main {
    pointer-events: none;
	transition: opacity linear 0.7s;
    opacity: 0;
    user-select: none;
}

#empty-state-text {
    opacity: 0;
	transition: opacity linear 1.3s;
    transition-delay: 0.5s;
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

#empty-state-text p {
    padding: 0 15px;
}

p.no-canvas,
p.no-audio {
    display: none;
}

#empty-state-text.no-canvas p,
#empty-state-text.no-audio p {
    display: none;
}

#empty-state-text.no-canvas p.no-canvas {
    display: inherit;
}

#empty-state-text.no-audio p.no-audio {
    display: inherit;
}

body.hide-main-text #empty-state-text {
    opacity: 1;
}

body #empty-state-text.hide {
    transition-delay: 0s;
    opacity: 0;
    user-select: none;
}

p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 300;
}

a {
    color: #e18009;
}

.links h4 {
    margin-bottom: 0;
}

.links p {
    margin-bottom: 0.3em;
}
